ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FCFBF4;
  font-family: Arial;
}


li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ccc;
}

#eintrag{
    float: left; 
}

*{
  font-family: Arial;
}

body{
  background-color: #FCFBF4;
}

#sprache{
  color: black;
  
}